.recent-activity-card {
  background-color: #ffffff; 
  color: #333; 
  padding: 20px;
  margin: 0; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 38%; 
  height: 400px;
  overflow-y: auto !important; 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  display: flex;
  flex-direction: column;
}

.recent-activity-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.recent-activity-card::-webkit-scrollbar {
  width: 8px;
}

.recent-activity-card::-webkit-scrollbar-thumb {
  background-color: #2980b9;
  border-radius: 10px;
}

.recent-activity-card::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}









